/*
* @Author: pz
* @Date:   2018-01-16 09:52:21
* @Last Modified by:   pz
* @Last Modified time: 2018-02-03 09:56:09
*/

body { font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color: #333; background: #f6f6f6;}
html,body { width:100%; height: 100%;min-width: 800px;min-height: 600px; }
#wrapper{height: 100%;min-width: 800px;min-height: 600px;position: relative;}
/* 登录页--start */
body{background: url(../images/sys_bg.png) no-repeat; background-size: 100% 100%;}
.logo{position: absolute; display: inline;top: 30px;}
.logo_nos{width: 194px; height: 42px; left: 60px;background: url(../images/logo_nos_blue.png) no-repeat; background-size: 100% 100%;}
.logo_school{width: 244px; height: 42px; right: 60px;background: url(../images/logo_school.png) no-repeat; background-size: 100% 100%;}


.sys_name{width: 38%;margin-left: 50%; margin-top: 110px; transform: translateX(-50%);}
.login_box{background: url(../images/login_box_bg.png) no-repeat; width: 27%; min-width: 300px; height: 36%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-size: 100% 100%;}
.login_input_bg{width: 399px; height: 50px;background: url(../images/bg_login02.png); background-size: 100% 100%; }
.login_btn_bg{width: 399px; height: 50px;background: url(../images/img_login03.png); background-size: 100% 100%; }
.login_box_content{width: 70%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.login_box span{border: none;background: none;}
.login_box input{border: none;border-radius: 25px;}
.inputDiv{margin-top:8%;}
.bottom_btns{ width: 100%;position: absolute;bottom:11%;}
.footer{position: absolute; bottom: 1px; left: 50%;transform: translate(-50%);color:#EEE;}
/* 登录页--end */


/* 游戏选择界面 --start*/
.game_select_bg{background: darkred;width: 60%; min-width: 700px; height: 75%;min-height: 475px; background: url(../images/sel_bg.png); background-size: 100% 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.sel_title{font-size: 26px;font-weight: bold;position: absolute; left: 50%; transform: translateX(-50%);top: 4%;}
.sel_btns{width: 80%; height: 50%;position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.sel_btn{width: 45%; height: 58px;background: url(../images/sel_btn.png); background-size: 100% 100%;display: inline-block;margin:2%;position: relative;}
.sel_btn:hover{width: 45%; height: 58px;background: url(../images/sel_btn_hover.png); background-size: 100% 100%;display: inline-block;margin:2%;position: relative;}
.sel_btn_addon{width: 17%; height: 76%; background: url(../images/sel_btn_icons.png) no-repeat; left: 3%; top: 50%; position: absolute; transform: translateY(-50%);}
.sel_btn_title{font-size: 17px; left: 19%; color: #0097B9; position: absolute; transform: translateY(-50%); top: 50%;}
.addon1{ background-position: -5px 8px;}
.addon2{ background-position: -5px -225px;}
.addon3{ background-position: -5px -38px;}
.addon4{ background-position: -5px -269px;}
.addon5{ background-position: -5px -84px;}
.addon6{ background-position: -5px -315px;}
.addon7{ background-position: -5px -130px;}
.addon8{ background-position: -5px -363px;}
.addon9{ background-position: -5px -176px;}
.sel_btn_hover{width: 442px; height: 58px;background: url(../images/sel_btn_hover.png); background-size: 100% 100%;}
/* 游戏选择界面 --end*/

/* 第一关--物流信息系统分类配对游戏--start */
.p1_game_content{width: 92%; height: 75%;position: absolute; left: 50%; top: 55%; transform: translate(-50%,-50%);}
.p1_game_title{font-size: 32px;font-weight:bold;}
.p1_target_area{width: 50%; height: 75%;}
.p1_target_area span{width: 250px;height: 58px;background: url(../images/img1/target_btn.png) no-repeat; background-size: 100% 100%;}


.p1_target_font{font-size: 16px; color: #0097B9; padding-left: 60px; line-height: 57px;}
.p1_target1{ position: absolute; top: 15%;}
.p1_target2{ position: absolute; top: 30%;}
.p1_target3{ position: absolute; top: 45%;}
.p1_target4{ position: absolute; top: 60%;}
.p1_game_intro{position: absolute; top: 75%;color: #CE1717;width: 40%;}


.p1_game_content_right{width: 55%;height: 100%; position: absolute; top: 0; left: 48%;}
.p1_drag_btn{width: 45%;height: 10%; background: url(../images/img1/drag_btn.png) no-repeat;background-size: 100% 100%;position: relative; display: inline-block; margin: 0% 4% 7% 0;cursor: pointer;}
.p1_btn_icons{width: 20%; height: 76%; background: url(../images/img1/match_icons.png) no-repeat; left: 3%; top: 50%; position: absolute; transform: translateY(-50%);}
.p1_addon1{background-position: 8px 5px; }
.p1_addon2{ background-position: -55px 7px;}
.p1_addon3{background-position: 8px -35px;}
.p1_addon4{ background-position: -55px -35px;}
.p1_addon5{background-position: 8px -75px;}
.p1_addon6{ background-position: -55px -78px;}
.p1_addon7{background-position: 8px -125px;}
.p1_addon8{ background-position: -55px -125px;}
.p1_addon9{background-position: 8px -166px;}
.p1_addon10{ background-position: -55px -169px;}
.p1_addon11{background-position: 8px -210px;}
.p1_sel_btn_title{font-size: 17px; left: 27%; color: #0097B9; position: absolute; transform: translateY(-50%); top: 50%;}

.p1_game_time_box {position: absolute; bottom: 0; width: 35%; }
.p1_game_time_bg {background: url(../images/img1/time_bar_bg.png) no-repeat; width: 83%; height: 21px; display: inline-block; background-size: 100% 100%; }
.p1_game_time_speed_box {position: relative; width: 100%; height: 21px; left: 1px; overflow: hidden; }
.p1_game_time_speed {position: absolute; width: 99%; height: 80%; top: 1px;left: -99%; background: url(../images/img1/time_bar.png) center left repeat-x; background-size: auto 100%; border-radius: 30px; }
.p1_game_time {display: inline-block; color: #5C4A22; position: absolute; left: 86%; opacity: 0.7; }

.next_btn{background: url(../images/next_pass.png) no-repeat; width: 141px; height: 50px; position: absolute;left: 50%; transform: translateX(-50%);cursor:pointer;}

/* 提示框 */
.msg_box_alert {display: none; position: fixed; z-index: 99999; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,.7); }
.msg_box{background: url(../images/msg_box_bg.png) no-repeat;width: 329px;height: 173px; position: absolute; top: 50%; left: 50%;margin-top:-82px; margin-left:-163px; transform: translate(-50%,-50%);}
.msg_content{color:#CE1717;position: absolute; top: 30%; left: 27%;}
.msg_confirm{background: url(../images/msg_box_confirm.png) no-repeat;width: 107px;height: 37px;position: absolute; bottom: 15%; left: 50%; transform: translateX(-50%);}
.msg_cancel{background: url(../images/msg_box_cancel.png) no-repeat;width: 107px;height: 37px;position: absolute; bottom: 15%; left: 50%; transform: translateX(-50%);}
.msg_close{width: 28px;height: 28px;position: absolute; right: 1%;}

.back_btn{background: url(../images/btn_back.png)  no-repeat; background-size: 100%; width: 52px; height: 52px; position: absolute;right: 1%; cursor:pointer;}

/* 第一关--物流信息系统分类配对游戏--end */


/* 第二关--物流标准化存在的问题判断--start */
.p2_content{width: 75%; height: 75%;position: absolute; left: 50%; top: 55%; transform: translate(-50%,-50%);}

.p2_box_item { display: none; position: relative; width: 100%; height: 50%; top:0; left:50%;transform: translateX(-50%);}
.p2_box_item:first-child { display: block; } 
.p2_video { height: 100%; background: #EBFBFF; position: relative; padding: 1px;}
.p2_video_bg { position: absolute; z-index: 9; width: 100%; height: 100%; top:0; left:0;background: url(../images/img2/play_btn.png) center no-repeat #EBFBFF; cursor: pointer; }
.p2_video_bg_refresh { position: absolute; z-index: 9; width: 100%; height: 100%; top:0; left:0;background: url(../images/img2/refresh_btn.png) center no-repeat #EBFBFF; cursor: pointer; display: none; }
.p2_video video { display: block; margin:auto; position: relative; z-index: 8;width: 100%;height: 100%;}
video::-internal-media-controls-download-button { display:none; }
video::-webkit-media-controls-enclosure { overflow:hidden; }
video::-webkit-media-controls-panel { width: calc(100% + 30px);  }
/* video::-webkit-media-controls-fullscreen-button { display: none; } */

.p2_intro{ width: 100%;position: absolute; margin-top: 22px;}

.p2_answer{width: 100%;height:40%;position: absolute; margin-top: 60px;}
.p2_option{width: 100%;height:33%;}
.p2_radio{position: absolute;width: 36px;height: 36px;background: url(../images/img2/radio.png);background-size: 100%;}
.p2_radio_sel{background: url(../images/img2/radio_sel.png);background-size: 100%; }
.p2_option_text{ max-width: 99%;line-height: 36px;background: url(../images/img2/text_bg.png) no-repeat;background-size: 100% 100%; margin-left: 40px;padding-left: 17px;color: #0097B9;}
/* 第二关--物流标准化存在的问题判断--end */


/* 第三关--RFID读写工作原理展现游戏--start */
.game_select_bg_p3{min-width: 800px;}
.p3_content{width: 90%; height: 75%;position: absolute; left: 50%; top: 55%; transform: translate(-50%,-50%);}
.p3-box-item{height: 100%;}
.p3-info-box{background: #e5fbff;width: 100%;height: 100%;}
.p3-reader-text{width: 157px; height: 93px; position: absolute; top: 9%; left: 1%; color: #58A8F2; text-align: center;}
.p3-reader{width: 70px; height: 93px; position: absolute; top: 22%; left: 7%; background: url(../images/img3/info/reader.png); background-size: 100% 100%;}
.p3-line{width: 97px; height: 1px; background-color: #34828F; position: absolute; top: 29%;}
.p3-line1{left: 19%;} 
.p3-antenna{width: 60px; height: 71px; position: absolute; top: 24%; background: url(../images/img3/info/antenna.png); background-size: 100% 100%; z-index: 10;}
.p3-antenna-left{left: 34%;}
.p3-antenna-right{right: 29%;}
.p3-line2{left: 72%;} 
.p3-rfid{width: 70px; height: 93px; position: absolute; top: 22%; right: 4%; background: url(../images/img3/info/rfid.png); background-size: 100% 100%;}
.p3-line3{width: 1px; height: 84px; background-color: #34828F; position: absolute; top: 45%; left: 12%;}
.p3-application{width: 100px; height: 126px; position: absolute; top: 66%; left: 5%; background: url(../images/img3/info/application.png); background-size: 100% 100%;}
@-webkit-keyframes opac{
	from {opacity: 1; width:0; height:0; top:50%; left:50%; } 
	to {opacity : 1; width:100%; height:100%; top:0; left:50%; } 
}
.animate .p3-w2{-webkit-animation-delay:1s; }
.animate .p3-w3{-webkit-animation-delay:2s; }
.animate .p3-w4{-webkit-animation-delay:3s; }
.animate .p3-w5{-webkit-animation-delay:4s; }
/* 覆盖波纹初始化的点 */
.ps-wave-cover{position: absolute;width: 50px;height: 50px;background-color:#E5FBFF;top:6%;left: 24%; z-index: 999;}
.p3-wave{width: 15rem; height: 15rem; position: absolute; left: 26%; top: 9%;}
.p3-wave *{border:2px solid #58A8F2; position:absolute; border-radius:50%; -webkit-animation:opac 4s infinite; }
.p3-wave-text{width: 157px; height: 93px; position: absolute; top: 2%; left: 39%; color: #58A8F2; text-align: center; font-size: 18px;}

.p3-energy{width: 106px; position: absolute; top: 15%; left: 47%; background: url(../images/img3/info/energy.png); background-size: 100% 100%; height: 34px;}
.p3-time{width: 106px; position: absolute; top: 35%; left: 47%; background: url(../images/img3/info/time.png); background-size: 100% 100%; height: 34px;}
.p3-data{width: 138px; position: relative; top: 25%; left: 43%;font-size: 0;}
.p3-data-left{width: 69px; height: 34px;position: absolute;right: 50%;}
.p3-data-right{width: 69px; height: 34px;position: absolute; left: 50%;}
/* 场景动画 */
.p3-scene-box{display: none;}
.p3-scene-left{position: absolute; width: 75%;height: 100%;background: url(../images/img3/scene/bg.png); background-size: 100% 100%; overflow: hidden;}
/* 小车 */
.p3-car{width: 200px; height: 81px; position: absolute; bottom: 12%; left: -40%; background: url(../images/img3/scene/car.png); background-size: 100% 100%;z-index: 100;}
.p3-car-tyre{width: 29px; height: 29px; position: absolute; bottom: 0; background: url(../images/img3/scene/tyre.png); background-size: 100% 100%;}
.p3-car-tyre-left{ left: 12%; }
.p3-car-tyre-right{ right: 11%; }
.p3-car-rfid{display: none;position: absolute; right: 92px; top: 13px;}
.p3-car-rfid-in{position: absolute; width: 27px; height: 27px; background: url(../images/img3/scene/rfid-in.png) no-repeat; background-size: 100% 100%;}
.p3-car-rfid-out{position: absolute; width: 44px; height: 44px; background: url(../images/img3/scene/rfid-out.png) no-repeat; background-size: 100% 100%; right: -36px; top: -9px;}
/* 信号--start */
.p3-single-box{}
.p3-single{width: 15rem; height: 15rem; position: absolute; left: 20%; top: 50%;}
.p3-single .p3-b2{-webkit-animation-delay:1s; }
.p3-single .p3-b3{-webkit-animation-delay:2s; }
.p3-single .p3-b4{-webkit-animation-delay:3s; }
.p3-single .p3-b5{-webkit-animation-delay:4s; }
.p3-single .p3-b6{-webkit-animation-delay:5s; }
/* .p3-single .p3-b7{-webkit-animation-delay:6s; }
.p3-single .p3-b8{-webkit-animation-delay:7s; }
.p3-single .p3-b9{-webkit-animation-delay:8s; }
.p3-single .p3-b10{-webkit-animation-delay:9s; }
.p3-single .p3-b11{-webkit-animation-delay:10s; }
.p3-single .p3-b12{-webkit-animation-delay:11s; } */
@-webkit-keyframes singleBlue{
	from {width:0; height:0; top:50%; left:50%; } 
	to {width: 100px; height: 100px; top:-66%; left:120%; } 
}
.p3-single-blue *{ position:absolute; width: 0px; height: 0px;   -webkit-animation:singleBlue 5s infinite; }
.semi-circle-blue{border:2px solid #58A8F2; transform: rotate(90deg); border-radius: 100px 0px 0 0; border-bottom: 0; border-right: 0;}

@-webkit-keyframes singleRed{
	from {width:0; height:0; top:-50%; left:150%; } 
	to {width: 100px; height: 100px; top:0%; left:50%; } 
}
.p3-single-red *{position:absolute; width: 0px; height: 0px;   -webkit-animation:singleRed 5s infinite; }
.semi-circle-red{border:2px solid #DD4747; transform: rotate(-90deg); border-radius: 100px 0px 0 0; border-bottom: 0; border-right: 0;}
/* 信号--end */
.p3-scene-wall{position: absolute; left: 74%; width: 17%; height: 86%;}
.p3-scene-door{position: absolute;     right: 10%; top: 55%; width: 8%; height: 31%;}
.p3-scene-antenna{position: absolute; right: 23%; top: 18%; width: 5%; height: 8%; z-index: 10;}
.p3-scene-rf{position: absolute; right: 9%; top: 39%; width: 10%; height: 13%; z-index: 10;}

.p3-scene-gate-close{position: absolute; right: 12.6%; top: 56%; width: 3%; height: 30%;}
.p3-scene-gate-open{display: none; position: absolute; right: 12.5%; bottom: 40%; width: 3%; height: 45%; z-index: 15;}
.p3-scene-pc{display: none;position: absolute; right: 21%; bottom: 9%;    width: 10%; height: 15%;z-index: 10;}
.p3-scene-yes{display: none; position: absolute; right: 30%; bottom: 15%; width: 8%; height: 8%; z-index: 15;}

.p3-scene-line-blue{position: absolute; background-color: #6BCAFB;}
.p3-scene-line-yellow{position: absolute; background-color: #FFD738;}
.p3-scene-line1{width: 4%; height: 1px; top: 19.5%; left: 74%;}
.p3-scene-line2{width: 1px; height: 2.5%; left: 78%; top: 19.5%;}
.p3-scene-line3{width: 7.5%; height: 1px; top: 22%; left: 78%;}
.p3-scene-line4{width: 1px; height: 20%; top: 22%; left: 85.5%;}
.p3-scene-line5{width: 15%; height: 1px; top: 45%; right: 10%;} 
.p3-scene-line6{width: 1px; height: 38%; top: 45%; right: 25%; }
.p3-scene-right{position: absolute; right: 0; width: 20%; height: 100%;} 
.p3-scene-btn{width: 100%; margin: 6% 0; background: url(../images/img3/scene/btn-bg-grey.png) no-repeat; font-size: 14px; color: #EEE; height: 12%;
    background-size: 100% 100%;justify-content: center; align-items: center; display: -webkit-flex;cursor: pointer;} 
.p3-scene-btn-active{background: url(../images/img3/scene/btn-bg-red.png) no-repeat;background-size: 100% 100%;}
 /* 第三关--RFID读写工作原理展现游戏--end */


 /* 第4关--EDI传输翻译通信小游戏--start */
.p4-content{width: 90%; height: 75%;position: absolute; left: 50%; top: 55%; transform: translate(-50%,-50%);}
.p4-top-box{width: 100%; height: 82%;position: absolute; background: url(../images/img4/bg.png);background-size: 100% 100%;}
.p4-form-l{position: absolute; width: 3%; height: 8%; left: 32%; top: 44%;}
.p4-form-r{display: none; position: absolute; width: 5%; height: 13%; right: 25.5%; top: 35%;}
.p4-refresh-l{display: none; position: absolute; width: 2%; height: 6%; left: 32.5%; top: 44.5%; }
.p4-refresh-r{display: none; position: absolute; width: 2%; height: 6%; right: 26.5%; top: 37.5%; }
.p4-order-l{display: none; position: absolute; width: 57%; height: 100%; left: 35%;}
.p4-file-l{display: none; position: absolute;    width: 65%; height: 66%; left: 35%; top: 16%;}
.p4-edi-l{display: none; position: absolute; width: 69%; height: 76%; left: 35%; top: 12%;}
.p4-edi-r{display: none; position: absolute; width: 70%; height: 76%; right: 30%; top: 6%;}
.p4-file-r{display: none; position: absolute;     width: 70%; height: 76%; right: 30%; top: 6%;}
.p4-order-r{display: none; position: absolute; width: 56%; height: 100%; right: 30%;}
.p4-bulb{display: none; position: absolute;width: 2.5%; height: 7.5%; right: 27%; top: 38%;}
 @-webkit-keyframes mailMove{
	0% {top: 43%; left: 34%; transform: rotate(-17deg);} 
	25% {width: 6%; height: 7%; top: 44%; left: 42%; transform: rotate(30deg); }
	50% {width: 6%; height: 7%; top: 44%; left: 50%; transform: rotate(-31deg); }
	75% {width: 6%; height: 7%; top: 44%; left: 58%; transform: rotate(18deg); }
	100% {width: 5%; height: 6%; top: 39%; left: 66%; transform: rotate(5deg);}
} 
.p4-mail{display:none; position: absolute; width: 7%; height: 8%;top: 43%; left: 34%; transform: rotate(-17deg);}
.p4-mail-move{
-webkit-animation-name: mailMove;
-webkit-animation-duration: 5s;
/* -webkit-animation-iteration-count: infinite; //无限循环 */
-webkit-animation-timing-function: linear;
}
/* 下方按钮区 */
.p4-bottom-box{width: 100%; height: 15%; position: absolute; bottom: 0;}
.p4-bottom-btn {padding: 1.5% 5%; background: url(../images/img4/btn-bg-red.png) no-repeat; background-size: 100% 100%; font-size: 16px; color: #EEE; cursor: pointer;position: absolute; bottom: 0px;  }
.p4-change-btn{margin-left: 20%;}
.p4-trans-btn{margin-left: 41%;}
.p4-corresp-btn{margin-left: 62%;}
/* 任务说明及提示 */
.p4-msg-box{height: 100%;}
.p4-msg-close{width: 15px;height: 15px;position: absolute; background: url(../images/img4/msg-close.png);cursor: pointer;}
.p4-msg-mask{width: 100%;height: 100%; position: absolute; background-color: #000; opacity: 0.7; z-index: 50;}
.p4-mission-intro{width: 436px; height: 288px; position: absolute; left: 50%; top: 50%; background: url(../images/img4/msg-intro-bg.png) no-repeat; background-size: 100% 100%; z-index: 99; margin-top: -144px; margin-left: -196px; }
.p4-mission-intro-title{position: absolute; left: 56%; top: 9%;font-size: 22px;}
.p4-mission-intro-text{text-indent: 28px; position: absolute; left: 37%; top: 21%; font-size: 17px; right: 4%;}
.p4-mission-intro-close{right: 4%; top: 8%;}
.p4-mission-intro-confirm{width: 39px;height: 28px;position: absolute; left: 61%; top: 72%;background: url(../images/img4/btn-confirm.png);cursor: pointer;}

.p4-msg-boy{display:none; width: 392px; height: 288px; position: absolute; left: -8%; top: 22%; background: url(../images/img4/msg-boy.png) no-repeat; background-size: 100% 100%; z-index: 99; }
.p4-msg-boy-text{position: absolute; left: 43%; top: 32%;}
.p4-msg-boy-close{right: 4%; top: 28%;}
.p4-msg-girl{display:none; width: 382px; height: 286px; position: absolute; right: -8%; top: 22%; background: url(../images/img4/msg-girl.png) no-repeat; background-size: 100% 100%; z-index: 99; }
.p4-msg-girl-text{position: absolute; left: 5%; top: 32%;  }
.p4-msg-girl-close{left: 57%; top: 28%;}

.p4-msg-text-comm{width: 194px; font-size: 15px; text-indent: 30px;}
 /* 第4关--EDI传输翻译通信小游戏--end */


 /* 第5关--EDI标准构成识别游戏--start */
.p5_content{width: 90%; height: 80%;position: absolute; left: 50%; top: 55%; transform: translate(-50%,-50%);} 
.p5_content_bg{width: 100%; height: 20%;position: absolute; left: 50%; transform: translateX(-50%);background: url(../images/img5/answer.png) no-repeat;background-size: 100% 100%; } 
.p5_content_bg_text{font-size: 17px; color: #0097B9;position: absolute;}
.p5_text_1{left: 38%; top: 8%;}
.p5_text_2{left: 11.5%; top: 56%}
.p5_text_3{left: 69%; top: 56%}

.p5_content_top{width: 100%; height: 50%;position: absolute; left: 50%; top:20%; transform: translateX(-50%);}
.p5_target_area{width: 6%; height: 70%;position: absolute;background: url(../images/img5/target_bg.png);background-size: 100% 100%; color: #0097B9;cursor:pointer;}
.p5_targetBox_text{font-size: 12px; writing-mode: vertical-lr; position: absolute; left: 50%; top: 24%;
    transform: translateX(-50%);}
.p5_target_1{left: -3%; }
.p5_target_2{left: 11.5%; }
.p5_target_3{left: 26.8%; }
.p5_target_4{left: 41.5%; }
.p5_target_5{left: 55.5%; }
.p5_target_6{left: 69.5%; }
.p5_target_7{right: 10.8%; }
.p5_target_8{right: -3%;}

.p5_content_middle{width: 100%; height: 50%;position: absolute; left: 51%; top: 59%; transform: translateX(-50%); margin-left: 1%;}
.p5_drag_btn{width: 6%;height: 70%;position: relative;display: inline-block;margin-left: 3%;color: #0097B9;}
.p5_sourceBox_text{font-size: 15px; writing-mode: vertical-lr; position: absolute; left: 50%;top: 5%;
    transform: translateX(-50%);padding-top: 38px;cursor: pointer;}
.p5_drag_1{background: url(../images/img5/drag_1.png) no-repeat;background-size: 100% 100%;margin-left: 2%;}
.p5_drag_2{background: url(../images/img5/drag_2.png) no-repeat;background-size: 100% 100%; }
.p5_drag_3{background: url(../images/img5/drag_3.png) no-repeat;background-size: 100% 100%; }
.p5_drag_4{background: url(../images/img5/drag_4.png) no-repeat;background-size: 100% 100%; }
.p5_drag_5{background: url(../images/img5/drag_5.png) no-repeat;background-size: 100% 100%; }
.p5_drag_6{background: url(../images/img5/drag_6.png) no-repeat;background-size: 100% 100%; }
.p5_drag_7{background: url(../images/img5/drag_7.png) no-repeat;background-size: 100% 100%; }
.p5_drag_8{background: url(../images/img5/drag_8.png) no-repeat;background-size: 100% 100%; }
.p5_drag_9{background: url(../images/img5/drag_9.png) no-repeat;background-size: 100% 100%; }
.p5_drag_10{background: url(../images/img5/drag_10.png) no-repeat;background-size: 100% 100%; }


.p5_content_bottom{width: 100%;position: absolute;bottom: 1px;text-align: center;}
.p5_game_intro{color: #CE1717;}
.p5_game_time_box{ position: relative; bottom: -5px; width: 35%;display: inline-block;}
.p5_game_time{left: 95%;}
/* 第5关--EDI标准构成识别游戏--end */




@media (max-height: 900px) {
	/* 游戏选择界面 --start*/
	.sel_btns { height: 65%;}
	.sel_btn { width: 47%;margin: 1%;}
	.sel_btn:hover{width: 47%;margin:1%;}
	.sel_btn_title{font-size: 16px;}
	/* 游戏选择界面 --end*/

	/* 第一关--物流信息系统分类配对游戏--start */
	.sel_title {top: 3%;}
	
	.p1_target_area span{height: 45px;}
	.p1_target_font{line-height: 45px;}
	.p1_game_intro{top: 60%;}
	.p1_drag_btn{ height: 12%; margin: 0% 4% 4% 0;}
	.p1_btn_icons{width: 30%;left: 0%;}
	/* 第二关--物流标准化存在的问题判断--start */

	/* 第二关--物流标准化存在的问题判断--end */

	/* 第五关--EDI标准构成识别游戏--start */
	.p5_text_1{left: 38%; top: 4% }
	.p5_text_2{left: 11%; top: 53%}
	.p5_text_3{left: 68%; top: 53%}
	/* 第五关--EDI标准构成识别游戏--end */

}
@media (max-height: 800px) {

	/* 第五关--EDI标准构成识别游戏--start */
	.p5_text_1{left: 36%; }
	.p5_text_2{left: 9%; top: 50%}
	.p5_text_3{left: 66.5%; top: 50%}
	/* 第五关--EDI标准构成识别游戏--end */


}
@media (max-height: 600px) {
	/* 第一关--物流信息系统分类配对游戏--start */
	.sel_title {top: 2%;}
	/* 第一关--物流信息系统分类配对游戏--end */


	/* 第二关--物流标准化存在的问题判断--start */

	/* 第二关--物流标准化存在的问题判断--end */

	/* 第五关--EDI标准构成识别游戏--start */
	.p5_text_1{left: 36%; }
	.p5_text_2{left: 9%; top: 50%}
	.p5_text_3{left: 66.5%; top: 50%}
	/* 第五关--EDI标准构成识别游戏--end */


}