/* CSS Document */
body{
margin:0 0 0 0;
text-align:center;
}
.button01{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img03.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}
.button02{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img04.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}
.button05{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img25.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}
.button06{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img26.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}

.button07{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img29.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}
.button08{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img30.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}
.button09{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img31.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}
.button10{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img32.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}

.button11{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img33.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}
.button12{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img34.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}


.button13{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img35.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}
.button14{
width:72px;
height:50px;
background-image:url(../../images/backPlanet/img36.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:30px;
}


.button03{
width:101px;
height:37px;
background-image:url(../../images/backPlanet/img01.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
padding-top:5px;
}
.button04{
width:101px;
height:37px;
background-image:url(../../images/backPlanet/img02.gif);
background-color:transparent;
border:0px;
font-family:"宋体";
font-size:12px;
cursor:pointer;
}

.top{
width:100%;
height:30px;
background-image:url(../../images/backPlanet/img06.gif);
background-repeat:repeat-x;
}
.top_left{
width:19px;
height:30px;
float:left;
background-image:url(../../images/backPlanet/img05.gif)
}
.top_title{
width:224px;
height:30px;
background-image:url(../../images/backPlanet/img08.gif);
float:left;
}
.top_right{
width:19px;
height:30px;
float:right;
background-image:url(../../images/backPlanet/img07.gif)
}



.head{
width:100%;
height:61px;
background-image:url(../../images/backPlanet/img09.gif);
background-repeat:repeat-x;
white-space:nowrap;
overflow:hidden;
}
.head_left{
width:16px;
height:61px;
background-image:url(../../images/backPlanet/img10.gif);
float:left;
}
.head_title{
width:expression(body.offsetWidth-80);
height:61px;
float:left;
text-align:left;
}

.head_title img{
	border:0px;
	cursor:pointer;
}
.head_right{
width:28px;
height:61px;
background-image:url(../../images/backPlanet/img11.gif);
float:right;
}


.juncture{
width:100%;
height:9px;
background-image:url(../../images/backPlanet/img19.gif);
background-repeat:repeat-x;
overflow:hidden;
}
.juncture_left{
width:172px;
height:9px;
background-image:url(../../images/backPlanet/img18.gif);
background-repeat:no-repeat;
float:left;
}
.juncture_right{
width:28px;
height:9px;
background-image:url(../../images/backPlanet/img17.gif);
float:right;
}





.mid{
width:100%;
height:expression(body.offsetHeight-148);
}
.mid_left{
width:170px;
height:100%;
float:left;
background-image:url(../../images/backPlanet/img15.gif);
background-repeat:repeat-y;
}
.mid_left_top{
width:170px;
height:21px;
background-image:url(../../images/backPlanet/img20.gif);
background-repeat:no-repeat;
}
.mid_left_iframe{
width:170px;
height:expression(body.offsetHeight-172);

}
.mid_left_content{
width:170px;
height:100%;
background-image:url(../../images/backPlanet/img15.gif);
background-repeat:repeat-y;
}
.changes{
width:101px;
height:100%;
float:left;
margin-left:7px;
}
.mid_right{
width:expression(body.offsetWidth-188);
height:100%;
float:right;
background-image:url(../../images/backPlanet/img21.gif);
background-position:right;
background-repeat:repeat-y;
margin-left:-10px;
}
.mid_right_content{
width:expression(body.offsetWidth-210);
height:100%;
float:left;
}









.bot{
width:100%;
height:9px;
background-image:url(../../images/backPlanet/img23.gif);
background-repeat:repeat-x;
overflow:hidden;
}
.bot_left{
width:169px;
height:9px;
background-image:url(../../images/backPlanet/img22.gif);
float:left;
}
.bot_right{
width:24px;
height:9px;
background-image:url(../../images/backPlanet/img24.gif);
float:right;
}



.bottom{
width:100%;
height:33px;
background-image:url(../../images/backPlanet/img12.gif);
background-repeat:repeat-x;
}
.bottom_left{
width:13px;
height:33px;
background-image:url(../../images/backPlanet/img13.gif);
background-repeat:no-repeat;
float:left;
}
.bottom_title{
width:expression(body.offsetWidth-50);
height:33px;
float:left;
padding-top:15px;
font-family:"宋体";
font-size:12px;
}
.bottom_right{
width:13px;
height:33px;
background-image:url(../../images/backPlanet/img14.gif);
background-repeat:no-repeat;
float:right;

}

.actionMessage {
	font-weight: bold;
	font-size: 12;
	color: #00CC00;
}