/*
* @Author: pz
* @Date:   2017-12-04 19:26:56
* @Last Modified by:   pz
* @Last Modified time: 2017-12-05 09:45:31
*/
/* 堆场指位-start(pz)****************************************************************************
******************************************************************************************/

/* * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0; }
body { font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color: #333; background: #f6f6f6;}

ul,li,ol { list-style:none; }
input,textarea { outline: none; font-family: "Microsoft YaHei";-webkit-overflow-scrolling: touch; overflow-scrolling: touch; }
a,a:active,a:link { color:#333; display: block; text-decoration: none; }
img { display: block; border: none; max-width: 100%; }
i,em { font-style: normal; vertical-align: middle; }
iframe { width:100%; height:auto; border:none; }
html,body { width:100%; height: 100%; }
em.em_05 { display: inline-block; width: .5em; }
em.em_1 { display: inline-block; width: 1em; }
em.em_2 { display: inline-block; width: 2em; }

.fl { float:left; }
.fr { float:right; }
.clearfix { zoom:1; }
.clearfix:after { content:""; display: block; clear:both; height:0; }

body { width: 100%; height: 100%; overflow: hidden; background: url(../images/bg_2.jpg); background-size: 100% 100%; }
.login { background: url(../images/bg_1.jpg); background-size: 100% 100%; }
body.map { background: url(../images/bg_3.jpg); background-size: 100% 100%; }
body.freight { background: url(../images/img5/bg_1.jpg); background-size: 100% 100%; }
body.freight .logo_1 { background: url(../images/logo_3.png) center no-repeat; -webkit-transition: all 3s; -moz-transition: all 3s;  -ms-transition: all 3s; -o-transition: all 3s; transition: all 3s; }
body.freight .logo_1 img { display: none; }


.home_content { z-index: 9998; position: absolute; top:0; left:50%; margin-left:-520px; width: 1039px; height: 782px; background: url(../images/bg_h01.png); }
.home_content:before { position: absolute; width: 100%; height: 50px; top:-50px; left:0; background: url(../images/bg_h01_top.png); content: ''; } */

/* .yf_content { background: url(../images/img2/bg_e1.png); }  */
.yf_close { bottom:30px; }
.yf_bg { padding:210px 80px 0; }
.yf_box { height: 470px; border-radius: 10px; position: relative; background-color: rgba(255, 255, 255, 0.6);
    -moz-box-shadow: box-shadow: 0 1px 2px #7cdef0 inset, 2px 2px 2px #669bb1;
    -webkit-box-shadow: box-shadow: 0 1px 2px #7cdef0 inset,2px 2px 2px #669bb1;
    box-shadow: 0 1px 2px #7cdef0 inset, 2px 2px 2px #669bb1; }
.yf_box_item { display: none; position: absolute; width: 100%; height: 100%; top:0; left:0; }
.yf_box_item:first-child { display: block; }


.yf_box_intro { position: absolute; padding:15px 10px; background: rgba(255,255,255,.5); border-radius: 6px; box-shadow: 0px 0px 5px 2px rgba(0,0,0,.1); }
.yf_box_intro h3 { font-size: 16px; line-height: 16px; color:#333; margin-bottom:8px; }
.yf_box_intro p { font-size: 14px; color:#333; line-height: 16px; margin-bottom:5px; }
.yf_box_intro p.p_num { height: 16px; }
.yf_box_intro p.p_intro { text-align: justify; color: #f00; text-indent: 2em; line-height: 18px; }
.yf_box_intro .yf_next { display: none; position: absolute; width: 100px; left:50%; margin-left:-50px; bottom:15px; font-size: 15px; line-height: 30px; color:#fff; text-align: center; border-radius: 6px; background: #a7c62f; box-shadow: 1px 1px 2px 1px rgba(114,150,2,.8); letter-spacing: 2px; cursor: pointer; }

.yf_prompt { position: absolute; top:10px; right:10px; font-size: 14px; line-height: 28px; width: 70px; text-align: center; border-radius: 5px;background: #a7c62f; box-shadow: 1px 1px 2px 1px rgba(114,150,2,.8); letter-spacing: 2px; cursor: pointer; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}

.yf_box_item_img1 .yf_box_intro { width: 150px; height: 120px; right:20px; bottom:20px; }
.yf_box_item_img2 .yf_box_intro { width: 150px; height: 130px; left:20px; top:20px; }
.yf_box_item_img3 .yf_box_intro { width: 150px; height: 130px; right:10px; top:40px; background-color:rgba(255,255,255,.95); }

.yf_close { width: 100%; margin:0; left:0; text-align: center; font-size: 0; bottom: 30px }
.yf_close a { display: inline-block; display: none; width: 188px; margin:0 5px; }
.yf_close a.btn_sub{ background: url(../images/ico_r1.png) center no-repeat; }/* 提交 */
.yf_close a.btn_next{ background: url(../images/ico_000.png) center no-repeat; }/* 下一步 */
.yf_close a.btn_skip{ background: url(../images/ico_222.png) center no-repeat; }/* 跳过 */
.yf_close a.btn_2,
/* .yf_close a.btn_skip { display: inline-block; } */

.yf_list {  }
.yf_item { cursor: pointer; position: absolute; width: 32px; height: 32px;  }
.yf_item.selected { background: rgba(0,255,252,.9); }
/*.yf_box_item_img2 .yf_item:hover { background: rgba(255,255,0,.9); }*/
.yf_box_item_img3 { cursor: pointer; }

.yf_item_01 { width: 30px; height: 40px; top:125px; left:245px; }
.yf_item_02 { width: 31px; height: 55px; top:111px; left:284px; }
.yf_item_03 { width: 69px; height: 59px; top:106px; left:316px; }
.yf_item_04 { width: 68px; height: 104px; top:60px; left:394px; }
.yf_item_05 { width: 68px; height: 103px; top:61px; left:473px; }
.yf_item_06 { width: 70px; height: 103px; top:61px; left:550px; }

.yf_item_11 { top:11px; left:64px; }
.yf_item_12 { top:11px; left:262px; }
.yf_item_13 { top:44px; left:196px; }
.yf_item_14 { top:76px; left:296px; }
.yf_item_15 { top:76px; left:626px; }
.yf_item_16 { top:110px; left:593px; }
.yf_item_17 { top:141px; left:130px; }
.yf_item_18 { top:141px; left:427px; }
.yf_item_19 { top:173px; left:427px; }
.yf_item_20 { top:173px; left:460px; }
.yf_item_21 { top:206px; left:791px; }
.yf_item_22 { top:268px; left:693px; }
.yf_item_23 { top:268px; left:494px; }
.yf_item_24 { top:300px; left:528px; }
.yf_item_25 { top:300px; left:98px; }
.yf_item_26 { top:333px; left:197px; }
.yf_item_27 { top:333px; left:395px; }
.yf_item_28 { top:364px; left:660px; }
.yf_item_29 { top:396px; left:329px; }
.yf_item_30 { top:429px; left:264px; }

/*堆场指位-end(pz)****************************************************************************
******************************************************************************************/

@media (max-height: 780px){
	.yf_bg { padding: 185px 80px 0; }
	.yf_box { height:380px;  }
	.yf_close { bottom:20px; }
	.yf_close a,
	.yf_close a.btn_1,
	.yf_close a.btn_3,
	.yf_close a.btn_4 { width: 150px; height: 46px; background-size: 100% 100%; }
	.yf_item { width: 25px; height: 25px; }

	.yf_item_01 { width: 24px; height: 32px; top: 101px; left: 198px; }
	.yf_item_02 { width: 25px; height: 44px; top: 90px; left: 229px; }
	.yf_item_03 { width: 56px; height: 48px; top: 85px; left: 255px; }
	.yf_item_04 { width: 55px; height: 85px; top: 48px; left: 318px; }
	.yf_item_05 { width: 56px; height: 84px; top: 49px; left: 381px; }
	.yf_item_06 { width: 57px; height: 84px; top: 49px; left: 443px; }

	.yf_item_11 { top: 9px; left: 52px; }
	.yf_item_12 { top: 9px; left: 212px; }
	.yf_item_13 { top: 36px; left: 159px; }
	.yf_item_14 { top: 61px; left: 239px; }
	.yf_item_15 { top: 61px; left: 505px; }
	.yf_item_16 { top: 88px; left: 479px; }
	.yf_item_17 { top: 114px; left: 105px; }
	.yf_item_18 { top: 114px; left: 345px; }
	.yf_item_19 { top: 140px; left: 345px; }
	.yf_item_20 { top: 140px; left: 372px; }
	.yf_item_21 { top: 166px; left: 638px; }
	.yf_item_22 { top: 217px; left: 559px; }
	.yf_item_23 { top: 217px; left: 399px; }
	.yf_item_24 { top: 243px; left: 426px; }
	.yf_item_25 { top: 243px; left: 79px; }
	.yf_item_26 { top: 269px; left: 159px; }
	.yf_item_27 { top: 269px; left: 319px; }
	.yf_item_28 { top: 294px; left: 533px; }
	.yf_item_29 { top: 320px; left: 266px; }
	.yf_item_30 { top: 346px; left: 213px; }
	.yf_prompt { top:6px; right:8px; width: 60px; line-height: 24px; }
	.yf_box_item_img3 .yf_box_intro { right: 8px; top: 32px; }
	
}
